.body {
	width: auto;
	height: auto;
	font-family: monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.box {
	width: 100rem;
	height: 70rem;
	border: 2px solid #ccc;
	margin-left: 50px;
	margin-top: 20px;
}

.main {
    transform: translate(3rem, 3rem);
     
}

.first {
	border: solid 3px #DADADA;
	padding: px;
	font-size: 20px;
	border-radius: 15px;
	width: 95rem;
	margin: 40px;

}
h1 {
	font-size: 80px;

}

.right {
	border-radius: 20px;
	transform: translate( 40rem, -22rem);
	position: relative;
	z-index: 1;
}

.text {
	font-size: 25px;
	font-weight: bold 7px;
	transform: translateY(15rem);
	
}
.button {
	padding: 18px;
	width: 20rem;
	background-color: transparent;
	z-index: 2;
	border-radius: 33px;
	color: white;
	border-color: white;
	text-align: left;
	font-size: 20px;
	transform: translate(65rem, -73rem);
    position: relative;
	z-index: 2;
}

.down {
	transform: translate(2rem, -39rem);

}

